
assets/.DS_Store
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/janitbidhan.github.io.iml
.idea/azure/azureSettings.xml
.idea/aws.xml
assets/.DS_Store
.idea/workspace.xml
